.footer-container {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding: 14px;
}

/*.chat-container {
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.chat-content {
    border: 5px solid black;
    min-height: 8vh;
    background-color: green;
    font-family: Arial;
}*/
